<header-bar></header-bar>

<div style="display: flex;
flex-direction: column;
min-height: 100vh; background: red; padding-top: 78px;overflow: auto;">

    <div style="flex: 1; background-color: blue; display: flex;">
        <div style="width: 240px; background: green;"></div>
        <div style="flex: 1; background: yellow;">
            <div style="width: 100px; height: 1000px; background: red;"></div>
        </div>
    </div>

    <footer-bar></footer-bar>

</div>

<!-- <div class="page-container">
        <sidebar></sidebar>
        <div style="margin-left: 240px; background: red; padding-top: 78px;">
            <div style="width: 100px; height: 1000px; background: green;"></div>
        </div>
        
       
       

    <footer-bar></footer-bar>
</div> -->


<!-- <form-base>
                <form-header>
                    Welcome, Lac Courte Oreilles Community
                </form-header>
                <form-content></form-content>
                <form-footer>
                    New to SMI Pay LCO? Create an account
                </form-footer>
             </form-base> -->

