.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 78px;
    overflow: auto;
}

.page {
    flex: 1;
    display: flex;
}

.page-content {
    flex: 1;
}