.page-container {
    position: relative;
    min-height: 100vh;
}

.page {
    // position: absolute;
    // top: 78px;
    // right: 0;
    // left: 0;
    // bottom: 109px;
    display: flex;
    padding-top: 78px;
}